<?xml version="1.0" encoding="GB2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	        destroy-method="close">
	        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	        <property name="url" value="jdbc:mysql://127.0.0.1:3306/lifegirl?characterEncoding=gbk" />
            <property name="username" value="root" />
            <property name="password" value="1212121212" />
	</bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>daoconfig/sqlmap.xml</value>
		</property>
		<property name="sqlMapClientProperties">
			<map>
				<entry key="baseurl">
					<bean class="it.renren.spilder.spring.support.GetResourceAsURL">
						<property name="location" value="daoconfig/sqlmap.xml" />
						<property name="parent" value="true" />
					</bean>
				</entry>
			</map>
		</property>
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<bean id="taskExecuter" class="it.renren.spilder.main.config.TaskExecuter" singleton="false">
		<property name="taskList">
			<list>
				<bean class="it.renren.spilder.task.WriteData2DB">
				</bean>
			</list>
		</property>
	</bean>
	<bean id="typesMap" class="it.renren.spilder.type.DedecmsTypesMap">
	</bean>
	<bean id="autoDetectTypes" class="it.renren.spilder.type.AutoDetectTypes"></bean>
		
	<!-- 简体对象定义（开始） -->
	<bean id="arctinyDAO" class="it.renren.spilder.dao.ibatis.IbatisArctinyDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="tablePrefix">
			<value>dede_</value>
		</property>
	</bean>
	<bean id="archivesDAO" class="it.renren.spilder.dao.ibatis.IbatisArchivesDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="tablePrefix">
			<value>dede_</value>
		</property>		
	</bean>
	<bean id="addonarticleDAO" class="it.renren.spilder.dao.ibatis.IbatisAddonarticleDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="tablePrefix">
			<value>dede_</value>
		</property>
	</bean>
	<bean id="downurlDAO" class="it.renren.spilder.dao.ibatis.IbatisDownurlDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<bean id="arctypeDAO" class="it.renren.spilder.dao.ibatis.IbatisArctypeDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="tablePrefix">
			<value>dede_</value>
		</property>
	</bean>
	<bean id="feedbackDAO" class="it.renren.spilder.dao.ibatis.IbatisFeedbackDAO">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="tablePrefix">
			<value>dede_</value>
		</property>
	</bean>
	<!-- 简体对象定义（开始） -->
</beans>