<?xml version="1.0" encoding="GB2312"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
    default-autowire="byName">


	<!--定时器任务配置（开始） -->
	<!-- 配置定时任务（开始） -->
	<bean id="scheduledJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="runCommand" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJob" />
		</property>
		<property name="cronExpression">
			<value>0 59 11,17,23 * * ?</value>
		</property>
	</bean>
	
	<bean id="scheduledJobAntiVirus"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="antiVirus" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTriggerAntiVirus" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJobAntiVirus" />
		</property>
		<property name="cronExpression">
			<value>1 */10 * * * ?</value>
		</property>
	</bean>
	
	<bean id="scheduledJobTaobao"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="getTaobaoDiscountData" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTriggerTaobao" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJobTaobao" />
		</property>
		<property name="cronExpression">
			<!-- 每天6点执行执行 -->
			<value>0 0 7 * * ?</value>
		</property>
	</bean>
	<!-- 配置定时任务（结束） -->

	
	<bean id="schedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		autowire="no">
		<property name="triggers">
			<list>
				<ref bean="jobTrigger" />
				<ref bean="jobTriggerAntiVirus"/>
				<ref bean="jobTriggerTaobao"/>
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>	
	<!--定时器任务配置（结束） -->

	<!--定时任务-->
	<bean id="runCommand" class="it.renren.timer.job.RunCommand">
		<property name="command" value="/home/fenglibin/timetask/startSpilder.sh"></property>
	</bean>
	<bean id="antiVirus" class="it.renren.timer.job.RunCommand">
		<property name="command" value="/home/fenglibin/timetask/antiVirus.sh"></property>
	</bean>
	<!-- 获取淘宝折扣数据 -->
	<bean id="getTaobaoDiscountData" class="net.fanli7.core.SearchDiscount">
		<property name="outpath" value="/home/fenglibin/www/www.fanli7.net/jingxuan"></property>
	</bean>
</beans>