<?xml version="1.0" encoding="GB2312"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
    default-autowire="byName">


	<!--定时器任务配置（开始） -->
	<!-- 配置定时任务（开始） -->
	<bean id="scheduledJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="runCommand" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJob" />
		</property>
		<property name="cronExpression">
			<value>0 59 11,17,23 * * ?</value>
		</property>
	</bean>
	
	<bean id="startDocSpilderJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="startDocSpilder" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="startDocSpilderJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="startDocSpilderJob" />
		</property>
		<property name="cronExpression">
			<value>0 59 9,15,21 * * ?</value>
		</property>
	</bean>
		
	<bean id="scheduledJobAntiVirus"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="antiVirus" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTriggerAntiVirus" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJobAntiVirus" />
		</property>
		<property name="cronExpression">
			<value>1 */10 * * * ?</value>
		</property>
	</bean>
	
	<bean id="scheduledJobTaobao"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="getTaobaoDiscountData" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTriggerTaobao" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJobTaobao" />
		</property>
		<property name="cronExpression">
			<!-- 每天7点执行执行 -->
			<value>0 0 7 * * ?</value>
		</property>
	</bean>

	<bean id="scheduledJobTaobao2"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="getTaobaoDiscountData2" />
		<property name="targetMethod" value="start" />
	</bean>
	<bean id="jobTriggerTaobao2" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref local="scheduledJobTaobao2" />
		</property>
		<property name="cronExpression">
			<!-- 每天7点执行执行 -->
			<value>0 10 7 * * ?</value>
		</property>
	</bean>
	<!-- 配置定时任务（结束） -->

	
	<bean id="schedulerFactory"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
		autowire="no">
		<property name="triggers">
			<list>
				<ref bean="jobTrigger" />
				<ref bean="startDocSpilderJobTrigger"/>
				<ref bean="jobTriggerAntiVirus"/>
				<ref bean="jobTriggerTaobao"/>
				<ref bean="jobTriggerTaobao2"/>
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>	
	<!--定时器任务配置（结束） -->

	<!--定时任务-->
	<bean id="runCommand" class="it.renren.timer.job.RunCommand">
		<property name="command" value="/home/fenglibin/timetask/startSpilder.sh"></property>
	</bean>
	<bean id="startDocSpilder" class="it.renren.timer.job.RunCommand">
		<property name="command" value="/home/fenglibin/mysoft/startDocSpilder.sh"></property>
	</bean>
	<bean id="antiVirus" class="it.renren.timer.job.RunCommand">
		<property name="command" value="/home/fenglibin/timetask/antiVirus.sh"></property>
	</bean>
	<!-- 获取淘宝折扣数据 -->
	<bean id="getTaobaoDiscountData" class="net.fanli7.core.SearchDiscount">
		<property name="outpath" value="/home/fenglibin/www/www.fanli7.net/jingxuan"></property>
	</bean>
	<bean id="getTaobaoDiscountData2" class="net.fanli7.core.SearchDiscount">
		<property name="outpath" value="/home/fenglibin/www/www.fanli7.net/jingxuan/morethan50"></property>
		<property name="TAOBAO_DISCOUNT_KEYWORDS" value="taobao_discount_keywords2.txt"></property>
		<property name="startCommissionRate" value="5000"></property>
		<property name="endCommissionRate" value="7000"></property>
	</bean>
	
	<!-- For yiqifa -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	        destroy-method="close">
	        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	        <property name="url" value="jdbc:mysql://127.0.0.1:3306/fanli7_v8?characterEncoding=utf8" />
	        <property name="username" value="fanli" />
	        <property name="password" value="fanli" />
	</bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>daoconfig/sqlmap.xml</value>
		</property>
		<property name="sqlMapClientProperties">
			<map>
				<entry key="baseurl">
					<bean class="net.fanli7.spring.support.GetResourceAsURL">
						<property name="location" value="daoconfig/sqlmap.xml" />
						<property name="parent" value="true" />
					</bean>
				</entry>
			</map>
		</property>
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
	</bean>
	<!-- 简体对象定义（开始） -->
	<bean id="fanliMallDAO" class="net.fanli7.dao.ibatis.IbatisFanliMallDAO" />
	<bean id="fanliTypeDAO" class="net.fanli7.dao.ibatis.IbatisFanliTypeDAO" />
	<bean id="getDataFromYiqifa" class="net.fanli7.core.GetDataFromYiqifa">
		<property name="fanliMallDAO" ref="fanliMallDAO"></property>
		<property name="fanliTypeDAO" ref="fanliTypeDAO"></property>
	</bean>
	<bean id="getTuanDataFromYiqifa" class="net.fanli7.core.GetTuanDataFromYiqifa">
		<property name="fanliMallDAO" ref="fanliMallDAO"></property>
	</bean>
</beans>